@import url('https://fonts.googleapis.com/css?family=Exo+2');

/*Padding width will be 300 including padding  */
*{
  box-sizing: border-box;
}

/* */
body {
  background-color: black;
  margin: 0;
  font-family: 'Exo+2', sans-serif;
  text-align: center;
  color: white;
}

/* header =============*/
.container {
  width: 95%;
  margin: 0 auto;
}

header{
  /*position: absolute;*/
  color: #FFF;
  left: 0;
  right: 0;
}

hr {
  color: white;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.food {
  padding-top: 3em;
}
