@import url('https://fonts.googleapis.com/css?family=Exo+2');

/*Padding width will be 300 including padding  */
*{
  box-sizing: border-box;
}

/* */
body {
  background-color: black;
  margin: 0;
  font-family: 'Exo+2', sans-serif;
  text-align: center;
  color: white;
}
/*
img {
  max-width: 100%;
  height: auto;
}
*/

/* header =============*/
.container {
  width: 95%;
  margin: 0 auto;
}

header{
  /*position: absolute;*/
  color: #FFF;
  left: 0;
  right: 0;
}

.title {
  font-size: 4em;
}

.title span {
  font-weight: 400;
  color: #D3D3D3;
  display: block;
  font-size: .9em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 2.5em;
}

nav a {
  margin-top: 2em;
  display: inline-block;
  font-weight: 900;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 3rem;
  padding: 1.75em;
  color: #FFF;
  border-width: 2px;
  border-style: solid;
  border-color: white;
}
  nav a:hover,
  nav a:focus{
  color: black;
  background: #D3D3D3;
  border-color: #FFF;
}

h2 {
  color: white;
}
